.card-container {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.card {
    width: 50%;
    align-items: center;
    border-radius: 30px;
    background: #ededed;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

mat-card-title {
    margin: 20px 0;
    color: black;
}

mat-card-content {
    display: flex;
    justify-content: center;
    width: 80%;
}

.mat-card {
    width: 30%;
}

.submitBtn {
    display: flex;
    justify-content: flex-end;
}

button{
    width: 100%;
    border-radius: 12px;
    background: cadetblue;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 15px;
    border: gray;
}

button:disabled,
button[disabled]{
  background-color: darkgrey;
  color: gray;
}

textarea {
    max-height: 200px;
}
